body {
    margin: 0;
    padding: 0;
    background: url(imagenes/loginfondo.jpg) no-repeat center top;
    background-size: 100% 100%;
    background-attachment: fixed;
    height: 100vh;
  }

  .cons-box {
    width: 1700px;
    height: 570px;
    background: rgb(166,49,245);
    background: rgb(166,49,245);
    background: linear-gradient(199deg, rgba(166,49,245,1) 3%, rgba(145,99,176,1) 19%, rgba(255,61,112,1) 37%, 
    rgba(255,63,63,1) 60%, rgba(255,134,62,1) 74%, rgba(251,235,63,1) 85%, rgba(85,190,62,1) 98%);
    color: rgb(0, 0, 0);
    top: 130%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 20px;
  }
  .cons-box input[type="text"] {
    font-family: 'Lucida Console';
    width: 80%;
    margin-bottom: 15px;
    border: none;
    border-bottom: 2px solid rgb(0, 0, 0);
    background: transparent;
    outline: none;
    height: 20px;
    color: rgb(0, 0, 0);
    font-size: 15px;
  }

  .edit-box {
    width: 400px;
    height: 700px;
    background: rgb(166,49,245);
    background: rgb(166,49,245);
    background: linear-gradient(199deg, rgba(166,49,245,1) 3%, rgba(145,99,176,1) 19%, rgba(255,61,112,1) 37%, 
    rgba(255,63,63,1) 60%, rgba(255,134,62,1) 74%, rgba(251,235,63,1) 85%, rgba(85,190,62,1) 98%);
    color: rgb(0, 0, 0);
    top: 55%;
    left: 82%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 20px;
  }
  .edit-box input[type="text"] {
    font-family: 'Lucida Console';
    width: 100%;
    margin-bottom: 15px;
    border: none;
    border-bottom: 2px solid rgb(0, 0, 0);
    background: transparent;
    outline: none;
    height: 20px;
    color: rgb(0, 0, 0);
    font-size: 15px;
  }
  .edit-box input[type="button"]{
    width: 100%;
    margin-bottom: 20px;
    border: none;
    outline: none;
    height: 40px;
    background: #ff6600;
    padding: 1%;
    color: rgb(0, 0, 0);
    font-size: 18px;
    border-radius: 20px;
  }

  .edit-box input[type="button"]:hover {
    cursor: pointer;
    background: #00fde8;
    color: rgb(255, 255, 255);
  }