body {
    margin: 0;
    padding: 0;
    background: url(imagenes/loginfondo.jpg) no-repeat center top;
    background-size: 100% 100%;
    height: 100vh;
  }
    
  .login-box {
    width: 400px;
    height: 570px;
    background: rgb(166,49,245);
    background: rgb(166,49,245);
    background: linear-gradient(199deg, rgba(166,49,245,1) 3%, rgba(145,99,176,1) 19%, rgba(255,61,112,1) 37%, 
    rgba(255,63,63,1) 60%, rgba(255,134,62,1) 74%, rgba(251,235,63,1) 85%, rgba(85,190,62,1) 98%);
    color: rgb(0, 0, 0);
    top: 65%;
    left: 51.3%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 20px;
  }

  .login-box .avatar {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    position: absolute;
    top: -80px;
    left: calc(50% - 75px);
  }

  .login-box h1 {
    margin-top: 2px;
    margin-bottom: 30px;
    padding: 0 0 20px;
    text-align: center;
    font-size: 50px;
    font-family: Papyrus;
  }

  .login-box h2 {
    margin-top: 2px;
    margin-bottom: 0px;
    padding: 0 0 20px;
    text-align: center;
    font-size: 20px;
    font-family: Papyrus;
  }

  .login-box label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
    text-align: center;
    font-size: 27px;
    font-family: Garamond;
  }
  
  

  .login-box input[type="text"], .login-box input[type="password"], .login-box input[type="tel"] {
    font-family: 'Lucida Console';
    width: 100%;
    margin-bottom: 30px;
    border: none;
    border-bottom: 2px solid rgb(0, 0, 0);
    background: transparent;
    outline: none;
    height: 40px;
    color: rgb(0, 0, 0);
    font-size: 19px;
  }
  
  .login-box input[type="submit"] {
    width: 40%;
    margin-bottom: 20px;
    border: none;
    outline: none;
    height: 40px;
    background: #fc6703;
    color: rgb(0, 0, 0);
    font-size: 18px;
    border-radius: 20px;
  }

  .login-box input[type="submit"]:hover {
    cursor: pointer;
    background: #00fde8;
    color: rgb(255, 255, 255);
    
  }
  
  .login-box input[type="button"]{
    width: 100%;
    margin-bottom: 20px;
    border: none;
    outline: none;
    height: 40px;
    background: #ff6600;
    color: rgb(0, 0, 0);
    font-size: 18px;
    border-radius: 20px;
  }

  .login-box input[type="button"]:hover {
    cursor: pointer;
    background: #00fde8;
    color: rgb(255, 255, 255);
  }

  .logout-box input[type="button"]{
    width: 100%;
    margin-bottom: 20px;
    border: none;
    outline: none;
    height: 40px;
    background: #ff6600;
    color: rgb(0, 0, 0);
    font-size: 18px;
    border-radius: 20px;
  }